{% extends 'base.html' %}

{% block content %}

<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            username: {{profile.user.username}}
        </h1>
        <h2 class="subtitle">
            location: {{profile.location}}
        </h2>
        <h2 class="subtitle">webiste: {{profile.website}}</h2>
        <p>bio:{{profile.bio}}</p>
        <img src="{{profile.picture.url}}" alt="propic">
      </div>
    </div>
    <a href="{% url 'update_profile' profile.id%}" class="button is-info">Edit</a>
  </section>

{% endblock %}