<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body class="skin-light">
    <!--Main Navigation-->
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-md navbar-light fixed-top scrolling-navbar">
        <div class="container-fluid">
          <!-- Brand -->
          <a class="navbar-brand" href="https://mdbecommerce.com/">
            <i class="fab fa-mdb fa-3x" alt="mdb logo"></i>
          </a>
          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Links -->
          <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Right -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown dropdown-hover" >
                <a class="nav-link waves-effect cart" id="navbarDropdownMenuLink3" data-toggle="dropdown">
                  <span class="badge badge-pill red"></span>
                  <i class="fas fa-shopping-cart pl-0"></i>
                </a>
                <div id="dropdown-cart" class="dropdown-menu dropdown-menu-right p-3">
  
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
                  <i class="united kingdom flag m-0"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#!">Action</a>
                  <a class="dropdown-item" href="#!">Another action</a>
                  <a class="dropdown-item" href="#!">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                  Shop
                </a>
              </li>
              <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                  Sign in
                </a>
              </li>
              <li class="nav-item pl-2 mb-2 mb-md-0">
                <a href="#!" type="button"
                  class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Sign
                  up</a>
              </li>
            </ul>
          </div>
          <!-- Links -->
        </div>
      </nav>
      <!-- Navbar -->
      <div class="jumbotron color-grey-light mt-70">
        <div class="d-flex align-items-center h-100">
          <div class="container text-center py-5">
            <h3 class="mb-0">Shopping cart</h3>
          </div>
        </div>
      </div>
    </header>
    <!--Main Navigation-->
    <!--Section: Block Content-->
<section>

    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-8">
  
        <!-- Card -->
        <div class="mb-3">
          <div class="pt-4 wish-list">
  
            <h5 class="mb-4">Cart (<span>2</span> items)</h5>
  
            <div class="row mb-4">
              <div class="col-md-5 col-lg-3 col-xl-3">
                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                  <img class="img-fluid w-100"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                  <a href="#!">
                    <div class="mask">
                      <img class="img-fluid w-100"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                      <div class="mask rgba-black-slight"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-7 col-lg-9 col-xl-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5>Blue denim shirt</h5>
                      <p class="mb-3 text-muted text-uppercase small">Shirt - blue</p>
                      <p class="mb-2 text-muted text-uppercase small">Color: blue</p>
                      <p class="mb-3 text-muted text-uppercase small">Size: M</p>
                    </div>
                    <div>
                      <div class="def-number-input number-input safari_only mb-0 w-100">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          class="minus decrease"></button>
                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          class="plus increase"></button>
                      </div>
                      <small id="passwordHelpBlock" class="form-text text-muted text-center">
                        (Note, 1 piece)
                      </small>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                          class="fas fa-trash-alt mr-1"></i> Remove item </a>
                      <a href="#!" type="button" class="card-link-secondary small text-uppercase"><i
                          class="fas fa-heart mr-1"></i> Move to wish list </a>
                    </div>
                    <p class="mb-0"><span><strong id="summary">$17.99</strong></span></p class="mb-0">
                  </div>
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <div class="row mb-4">
              <div class="col-md-5 col-lg-3 col-xl-3">
                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                  <img class="img-fluid w-100"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" alt="Sample">
                  <a href="#!">
                    <div class="mask">
                      <img class="img-fluid w-100"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg">
                      <div class="mask rgba-black-slight"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-7 col-lg-9 col-xl-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5>Red hoodie</h5>
                      <p class="mb-3 text-muted text-uppercase small">Shirt - red</p>
                      <p class="mb-2 text-muted text-uppercase small">Color: red</p>
                      <p class="mb-3 text-muted text-uppercase small">Size: M</p>
                    </div>
                    <div>
                      <div class="def-number-input number-input safari_only mb-0 w-100">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          class="minus"></button>
                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          class="plus"></button>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                          class="fas fa-trash-alt mr-1"></i> Remove item </a>
                      <a href="#!" type="button" class="card-link-secondary small text-uppercase"><i
                          class="fas fa-heart mr-1"></i> Move to wish list </a>
                    </div>
                    <p class="mb-0"><span><strong>$35.99</strong></span></p class="mb-0">
                  </div>
                </div>
              </div>
            </div>
            <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
              items to your cart does not mean booking them.</p>
  
          </div>
        </div>
        <!-- Card -->
  
        <!-- Card -->
        <div class="mb-3">
          <div class="pt-4">
  
            <h5 class="mb-4">Expected shipping delivery</h5>
  
            <p class="mb-0"> Thu., 12.03. - Mon., 16.03.</p>
          </div>
        </div>
        <!-- Card -->
  
        <!-- Card -->
        <div class="mb-3">
          <div class="pt-4">
  
            <h5 class="mb-4">We accept</h5>
  
            <img class="mr-2" width="45px"
              src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa">
            <img class="mr-2" width="45px"
              src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express">
            <img class="mr-2" width="45px"
              src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard">
            <img class="mr-2" width="45px"
              src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
              alt="PayPal acceptance mark">
          </div>
        </div>
        <!-- Card -->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4">
  
        <!-- Card -->
        <div class="mb-3">
          <div class="pt-4">
  
            <h5 class="mb-3">The total amount of</h5>
  
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Temporary amount
                <span>$25.98</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping
                <span>Gratis</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>The total amount of</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>$53.98</strong></span>
              </li>
            </ul>
  
            <button type="button" class="btn btn-primary btn-block">go to checkout</button>
  
          </div>
        </div>
        <!-- Card -->
  
        <!-- Card -->
        <div class="mb-3">
          <div class="pt-4">
  
            <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample">
              Add a discount code (optional)
              <span><i class="fas fa-chevron-down pt-1"></i></span>
            </a>
  
            <div class="collapse" id="collapseExample">
              <div class="mt-3">
                <div class="md-form md-outline mb-0">
                  <input type="text" id="discount-code" class="form-control font-weight-light"
                    placeholder="Enter discount code">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!--Section: Block Content-->

  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  




  </body>
</html>













